{{#section 'title'}} Delete Category {{/section}}

<form action="" method="POST" role="form">
	<input type="hidden" id="" name="catId" value="{{catId}}">
	<button type="submit" class="btn btn-danger">
		<span class="glyphicon glyphicon-remove"></span>
		Delete
	</button>
</form>