{{#section 'title'}} Delete product {{/section}}

<form action="" method="POST" role="form">
	<input type="hidden" id="" name="pro_id" value="{{pro_id}}">
	<button type="submit" class="btn btn-danger">
		<span class="glyphicon glyphicon-remove"></span>
		Delete
	</button>
</form>