{{#section 'title'}}
 Add brand 
{{/section}} 

{{#if showAlert}}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	brand added.
</div>
{{/if}}

<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="">Tên nhãn hiệu</label>
		<input type="text" class="form-control" id="" name="bra_name" placeholder="Tên nhãn hiệu">
	</div>
	<div class="form-group">
        <label for="txtGender" class="col-sm-2 control-label">thể loại</label>
        <div class="col-sm-4" data-toggle="button">
            <label class="radio-inline">
                <input type="radio" name="category" value="1" checked>phone</label>
            <label class="radio-inline">
                <input type="radio" name="category" value="2">tablet</label>
        </div>
    </div>
	<a class="btn btn-default" href="/brand" role="button">
		<span class="glyphicon glyphicon-arrow-left"></span>
		View list
	</a>
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-check"></span>
		Save
	</button>
</form>