{{#section 'title'}}
 Edit brand 
{{/section}} 
{{#with brand}}
<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="">#</label>
		<input type="text" class="form-control" id="" name="brandID" value="{{bra_id}}" readonly>
	</div>
	<div class="form-group">
		<label for="">brand name</label>
		<input type="text" class="form-control" id="" name="bra_name" value="{{bra_name}}">
	</div>

	<a class="btn btn-default" href="/brand" role="button">
		<span class="glyphicon glyphicon-arrow-left"></span>
		View List
	</a>
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-save"></span>
		Update
	</button>
</form>
{{/with}}